/*
Author: Caroline, Kai, Amnah, Duy
*/
body {
      font-family: system-ui, -fontapple-system, Segoe UI, Roboto, Arial, sans-serif;
      line-height: 1.5;
      margin: 0;
      color: #111;
      background: #fafafa;
    }
header, footer {
      background: #0d2b52;
      color: #fff;
      padding: 1rem;
}
header a, nav a { color: #fff; text-decoration: none; }
header a:focus, header a:hover, nav a:focus, nav a:hover { text-decoration: underline; }